//Layout
$email-width: 600px;

// Colors
$primary-color: #ef4036;
$primary-color-light: #f25754;
$ui-primary-color: $primary-color;
$secondary-color: #34c3cc;
$medium-grey: #4d4d4d;
$cool-grey: #d0d5da;
$email-background: #7d7d7d;

// Typography 
$font-all-caps: 'Nunito', sans-serif;
$default-letter-spacing: .05em;
$button-font-size: 13px;
$input-field-font-size: 15px;
$project-list-font-size: 14px;
$block-toggle-font-size: 14px;
$label-font-size: 12px;


$sidebar-line-color: #F58B89;

// Buttons
$button-padding: 10px;
$button-min-width: 140px;

// Fields
$input-field-color: #f25754;

// Block Toggle
$block-toggle-background: $medium-grey;

// Search
$search-bar-height: 45px;
$search-bar-label-offset: 120px;